* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(assets/thumb-1920-373691.jpeg);
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.head {
  float: right;
  height: 15.625rem;
  width: 50rem;
  background-image: url(assets/About.png);
  background-size: 53.1rem 14.3rem, contain;
  position:relative;
  z-index: 0;
}

header {
  text-transform: uppercase;
  display: inline-block;
  font: 1.4rem 'Farro', sans-serif;
  text-decoration: none;
  position: relative;
  top: -33rem;
  left: -15rem;
}

.lang-bar {
  color: hsla(51, 100%, 50%, 1);
}

.lang-menu {
  color: hsla(51, 100%, 50%, 1);
}

a.active {
  background-color: white;
  padding: 1rem;
  border-radius: 10%;
}

a:link    {
  text-decoration: none;
  color:goldenrod;
}

a:visited {
  text-align: center;
  display: flex;
  color: goldenrod;
  border-radius: 10%;
}

a:hover {
  text-decoration: none;
}

.lang-en {
  text-decoration: none;
  margin: 0px 0px 0px 8px;
  padding: 0px 10px;
}

.lang-it {
  text-decoration: none;
  margin: 0px 0px 0px 8px;
  padding: 0px 0px;
}

.lang-de {
  text-decoration: none;
  margin: 0px 0px 0px 8px;
  padding: 0px 0px;
}

.lang-hu {
  text-decoration: none;
  margin: 0px 0px 0px 8px;
  padding: 0px 0px;
}

h1 {
  color: #ffd700;
  font-family: 'Roboto', sans-serif;
  font-size: 6.25rem;
  text-align: center;
  margin-top: 4.688rem;
  letter-spacing: 0.563rem;
  text-shadow: 1px 1px 7px #e6c300;
}

#name {
  color: #ffd700;
  font-size: 5rem;
  font-family: 'Mrs Saint Delafield', cursive;
  margin-left: 17.5rem;
  position:relative;
  top: -1.125rem;
  left: 0.625rem;
  text-shadow: 1px 1px 2px darkgrey;
}

h2 {
  font-family: 'Farro', sans-serif;
  font-size: 1.063rem;
  margin-left: 15.938rem;
  position:relative;
  top: -1.125rem;
  left: 0.25rem;
  letter-spacing: 0.04em;
  color: white;
}


.profile-img {
  float: left;
  height: 25rem;
  width: 17rem;
  background-image: url(assets/Profil2.png);
  transition: all 0.5s ease-in-out;
  background-size: 18.75rem 25rem, contain;
  position:relative;
  top: 1.37rem;
  left: -5.938rem;
  z-index: 1;
  border: 1px solid;
  border-radius: 3%;
  filter: grayscale(50%);
}

.profile-img:hover {
  transform: scale(1.3);
  filter: grayscale(10%);
  border-radius: 20%;
  border: 1px solid #ffd700;
  box-shadow: hsla(360, 100%, 100%, 0.89) 10px 10px 90px;
  background-color: hsla(1, 0%, 100%, .5);
}

.border {
  height: 25rem;
  width: 15.625rem;
  position: relative;
  top: 18.688rem;
  left: -3.125rem;
  z-index: 0;
  border-style: solid;
  border-color: #ffd700;
  border-width: 8px;
}

.content {
  float: right;
  height: 18.75rem;
  width: 31.25rem;
  position:relative;
  top: -3.125rem;
  left: -2.5rem;
  font-family: 'Farro', sans-serif;
  text-align: justify;
  line-height: 1.5em;
}

p {
 color: white;
}

.links {
  height: 6.25rem;
  clear: both;
  position: relative;
  left: 4.37rem;
  padding-top: 0.688rem;
  text-align: center;
}

.profile-card {
  width: 50rem;
  max-width: calc(100vw - 10px);
  box-shadow: hsla(51, 100%, 50%, 1) 0px 10px 300px;
}

i {
  color: hsla(360, 100%, 100%, 1)
}

i:hover {
  color: hsla(51, 100%, 50%, 1)
}

ul {
  list-style-type: none;
}

li {
  margin: 1rem;
  display: inline;
}

#contact {
  vertical-align: 0.938rem;
  font-size: 1.188rem;
}
